@model EFTestAWS.Models.PageData

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PageData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Victory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Victory)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
